/*TODO: POLISH IT MORE
  doesn't love the laptop background
    - dont have it
    - center yourself and details right there with about or move about me up there
  icon for resume is too big
    */



* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", "Poppins", "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #fbfbfd;
  color: rgb(24, 25, 28);
  text-align: left;
}


header {
  display: flex;
  flex-direction: column;
}

/* NAV BAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  opacity: 0.9;
  z-index: 1;
  /* border: 1px solid red; */
}

.navbar-name {
  color: rgb(240, 240, 240);
  padding: 0.3125rem 0rem;
  font-size: 1.25rem;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

nav li {
  list-style-type: none;
  margin: 0 30px;
  /* border: 1px solid red; */
}

#nav-links {
  margin-right: 10rem;
}

.nav-link {
  color: white !important;
}

.nav-link::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: rgb(240, 240, 240);
  transition: 300ms;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
 color: black;
}

.nav-social {
  opacity: 0.5;
}

.nav-social:hover {
  opacity: 1;
}

.nav-social:hover::after {
  width: 0%;
}

.fa-linkedin:hover {
  color: white;
  opacity: 1;
}

ul {
  display: flex;
  align-items: flex-end;
  /* border: 1px solid red; */
}

.hamb-icon {
  display: none;
  border: none;
  background-color: transparent;
}

.hamb-icon input[type="checkbox"] {
  appearance: none;
}

@media screen and (max-width: 880px) {
  #nav-links {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .logo-hamb {
    display: flex;
    justify-content: space-between;
  }

  .hamb-icon {
    display: block;

  }

  #hero {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  #offcanvasNavbar {
    width: 300px;
  }


  .nav-link {
    font-size: 1.5rem !important;
  }

  ul.navbar-nav {
    gap: 1rem;
  }

  .nav-social {
    font-size: 2rem !important;
  }
}

.fa-x {
  display: none;
}

.offcanvas-title {
  color: rgb(240, 240, 240);
}


/* HERO */

#hero {
  display: flex;
  height: 100vmin;
  width: 100vw;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

#hero-text {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-title {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

#hero-name {
  font-size: 4rem;
  font-weight: 600;
}

.hero-button {
  font-size: 1.75rem !important;
}

.headshot-container {
  position: relative;
  top: 10px;
  margin-top: 2rem;
}

#headshot {
  width: auto;
  height: 100%;
  margin-left: -100px;
}

.circle {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .circle {
    width: 220px;
    height: 220px;
  }

  .headshot-container {
    margin-top: 0rem;
  }

  #headshot {
    margin-left: -53px;
  }

  #hero-name {
    font-size: 2rem;
  }

  #hero-title {
    font-size: 1rem;
  }

  #hero-text {
    margin: 0 auto;
    text-align: center;
  }

  #hero {
    padding-top: 5rem;
    justify-content: center;
  }

  .hero-button {
    font-size: 1.2rem !important;
  }
}

/* ABOUT SECTION */


#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about-row {
  display: flex;
  flex-direction: row !important;
}

div#about h2 {
  place-self: center;
}

#bio {
  display: grid;
}

#colorado-pic {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

#bio-intro {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200
}

#resume {
  color:rgb(36, 38, 42);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.4rem;
  text-align: center;
  width: 7.6rem;
  place-self: center;
}

#resume:hover {
  text-decoration: underline;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  max-width: 85%;
  margin: 5rem 1rem;
}

.skill {
  display: flex;
  flex-direction: column;
}

.skill img {
  height: 120px;
  margin-bottom: 0.5rem;
}

.skill h6 {
  text-align: center;
}

@media screen and (max-width: 1000px) {

  .skill img {
    height: 95px;
  }
}

@media screen and (max-width: 390px) {
  .circle {
    width: 150px;
    height: 150px;
  }

  #headshot {
    margin-left: -36px;
  }

  .skills-container {
    max-width: 100%;
    gap: 2rem;
  }

  .skill img {
    height: 50px;
  }
  .skill h6 {
    font-size: 15px;
  }
}

/* PROJECTS */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.projects-container {
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  display: flex;
}

.project .card {
  width: 30rem;
  border: 1px solid #555;
}

.carousel-item img {
  border-radius: 5px 5px 0 0;
}

.project-skill {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.project-skill img {
  height: 3.5rem;
}

@media screen and (max-width: 1000px) {
  .project .card {
    width: 20rem;
  }

  .project-skill img {
    height: 1.8rem;
  }

  .card-body a {
    font-size: 0.7rem;
    width: 6rem;
    margin: 0.2rem
  }
}


/* CONTACT INFO */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: rgb(240, 240, 240);
}

div#contact p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

#contact-icons i {
  position: relative;
  margin: 0.5rem 2rem;
  font-size: 3.5rem;
}

#contact-icons i.fa-linkedin {
  color: #0072b1;
}

#contact-icons i.fa-envelope {
  color: #24262a;
}


/* FOOTER */

footer {
  background-color: #24262a;
  color: #fafafa;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.back-to-top {
  position: fixed;
  visibility: none;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background-color: #0072b1;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 2rem;
  color: white;
  line-height: 0;
}

.back-to-top:hover {
  background-color: #009ff4
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
