* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(250, 250, 250);
  color: rgb(36, 38, 42);
  text-align: left;
}


header {
  display: flex;
  flex-direction: column;
}

/* NAV BAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  /* border: 1px solid red; */
}

nav li {
  list-style-type: none;
  margin: 0 30px;
  /* border: 1px solid red; */
}

#nav-links {
  margin-right: 10rem;
}

.nav-link {
  opacity: 0.75;
}

.nav-link::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  opacity: 1;
}

.nav-social:hover::after {
  width: 0%;
}

.fa-linkedin {
  transition: 300ms;
}

.fa-linkedin:hover {
  color: #0072b1;
}

ul {
  display: flex;
  align-items: flex-end;
  /* border: 1px solid red; */
}

.hamb-icon {
  display: none;
  border: none;
  background-color: transparent;
}

.hamb-icon input[type="checkbox"] {
  appearance: none;
}

@media screen and (max-width: 880px) {
  #nav-links {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .logo-hamb {
    display: flex;
    justify-content: space-between;
  }

  .hamb-icon {
    display: block;

  }
}

.fa-x {
  display: none;
}




/* HERO */

#hero {
  display: flex;
  height: 100vmin;
  width: 100vw;
  background-image: url(./assets/hero_photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(250,250,250,.5);
}

#hero-text {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  margin-left: 6rem;
}

#hero-title {
  font-size: 1.75rem;
}

#hero-name {
  font-size: 4rem;
}

.headshot-container {
  position: relative;
  top: 10px;
  margin-top: 3rem;
}

#headshot {
  width: auto;
  height: 100%;
  margin-left: -100px;
}

.circle {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .circle {
    width: 200px;
    height: 200px;
  }

  .headshot-container {
    margin-top: 1.5rem;
  }

  #headshot {
    margin-left: -50px;
  }

  #hero-name {
    font-size: 2rem;
  }

  #hero-title {
    font-size: 1rem;
  }

  #hero-text {
    margin-top: 5rem;
    margin-left: 3rem;
  }
}

/* ABOUT SECTION */


#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: 0 auto;
}

div#about h1 {
  font-size: 3rem;
}

#bio {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: 60%;
  line-height: 1.7rem;
  margin: 1.5rem;
  font-size: 1.2rem;
}

#bio-intro {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200
}

#resume {
  color:rgb(36, 38, 42);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.75rem;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 75%;
  margin: 1rem;
}

.skill img {
  height: 100px;
  margin-bottom: 0.5rem;
}

.skill h6 {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  #bio {
    width: 90%;
  }

  .skill img {
    height: 75px;
  }
}

/* PROJECTS */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}


/* CONTACT INFO */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: rgb(240, 240, 240);
}

div#contact p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

#contact-icons i {
  position: relative;
  margin: 0.5rem;
  font-size: 3rem;
}

#contact-icons i.fa-linkedin {
  color: #0072b1;
}

#contact-icons i.fa-envelope {
  color: #24262a;
}


/* FOOTER */

footer {
  background-color: #24262a;
  color: #fafafa;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
